target/
.idea/
*.iml
**/build-tools/node
node_modules
**/package-lock.json
**/bower_components/
.classpath
.project
.settings
**/.DS_Store
.vscode
webpack.generated.js
webpack.config.js
package.json
**/frontend/index.html
**/frontend/generated/
.npmrc
.pnpmfile.cjs
pnpm-lock.yaml
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts
